@font-face {
	font-family: TheShape;
	src: url(../resources/The\ Shape\ Of\ Things.otf);
}

/*custom scrollbar*/

::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-track {
	background: #0c1014;
}

::-webkit-scrollbar-thumb {
	background: #03bcf4;
	border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
	background: #0497c4;
}

@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: #03bcf4 #0c1014;
		scrollbar-width: thin;
	}
}

/*custom scrollbar*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: TheShape;
	font-size: 14px;
	background: rgb(29, 68, 78);
	background: radial-gradient(
		circle,
		rgba(29, 68, 78, 1) 0%,
		rgba(0, 0, 0, 1) 92%
	);
	color: #fff;
	overflow-x: hidden;
}
.background {
	background: rgb(22, 59, 69);
	background: -moz-radial-gradient(
		circle,
		rgba(22, 59, 69, 1) 7%,
		rgba(0, 0, 0, 1) 71%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(22, 59, 69, 1) 7%,
		rgba(0, 0, 0, 1) 71%
	);
	background: radial-gradient(
		circle,
		rgba(22, 59, 69, 1) 7%,
		rgba(0, 0, 0, 1) 71%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#163b45",endColorstr="#000000",GradientType=1);
}

.navbar {
	background: #090910;
}
.navbar-toggler {
	background-color: #262729;
	font-size: 40%;
}
.main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: around;
	align-items: center;
}
.logo-container {
	display: flex;
}
.logo {
	width: 20%;
}
.links {
	text-decoration: none;
	color: #ffffff;
	padding: 0.3rem;
	margin: 1rem;
	position: relative;
	text-transform: uppercase;
	border-radius: 0.1rem;
	z-index: 1;
	filter: drop-shadow(0 0 1.5rem #ed1b76);
}
.links:visited {
	color: #ffffff;
}
.links:active {
	color: #ed1b76;
}

#navbar-stick {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	left: 0;
}

@media (max-width: 993px) {
	.logo {
		width: 50%;
	}
}

/* BANNER */

.banner {
	position: relative;

	width: 100%;
	min-height: 100vh;
	height: 100%;
	background: #090910;
	overflow: hidden;
}
.banner::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url("../resources/1181154.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	opacity: 0.35;
	background-attachment: fixed;
	background-position: center;
	background-position-y: 1rem;
}
.banner-heading1 {
	color: #fff;
	position: relative;
	font-size: 7.5rem;
	margin-top: 1rem;
	outline: none;
	word-spacing: 0.1rem;
	height: 100%;
	width: 100%;

	filter: drop-shadow(0 0 0.5rem #f44786);
}

.heading-section {
	margin-top: 8rem;
}
/*timer*/
#timer {
	font-size: 3em;
	font-weight: 100;
	color: white !important;
	text-shadow: 0 0 20px #48c8ff;
}

#timer div {
	display: inline-block;
	min-width: 90px;
}

#timer div span {
	color: #b1cdf1;
	display: block;
	font-size: 0.35em;
	font-weight: 400;
}

.timer {
	height: 100%;

	padding: 4rem 0rem;
	display: block;
}
#timer-head {
	font-size: 2.5rem;
	color: #fff;
}
/*timer*/
@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

/* about */
.top-about {
	font-size: 4rem;
	margin-bottom: 0rem;
	filter: drop-shadow(0 0 1.5rem #ed1b76);
}
.about {
	padding-top: 4rem;
	width: 100%;
	margin-bottom: 2%;
}
.about-content {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 1.625rem;
	line-height: 1.7rem;
	word-spacing: 2px;
}

/* Rules */

.rules {
	padding-top: 3rem;
}
@media (hover) {
	.links {
		text-decoration: none;
		color: #ffffff;
		padding: 0.3rem;
		margin: 1rem;
		position: relative;
		text-transform: uppercase;
		border-radius: 0.1rem;
		z-index: 1;
		filter: drop-shadow(0 0 1.5rem #ed1b76);
	}

	.links ::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		border-radius: 0.5rem;
		background: #ff287e;
		transition: 0.3s ease-in-out;
		z-index: -1;

		clip-path: polygon(
			-2% 0%,
			-1% 0%,
			-1% 100%,
			101% 100%,
			101% 0%,
			102% 0%,
			102% 100%,
			-2% 100%
		);
	}

	.links:hover ::before {
		clip-path: polygon(
			-1% 0%,
			50% 0%,
			50% 100%,
			50% 100%,
			50% 0%,
			101% 0%,
			101% 100%,
			-1% 100%
		);
	}

	.links:hover {
		text-decoration: none;
		color: #ffffff;
	}

	.links:active ::before {
		clip-path: polygon(
			-1% 48%,
			50% 48%,
			50% 52%,
			50% 52%,
			50% 48%,
			101% 48%,
			101% 52%,
			-1% 52%
		);
	}
	.rules-card:hover {
		box-shadow: 1px 1px 120px -26px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 1px 1px 120px -26px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 1px 1px 120px -26px rgba(0, 0, 0, 0.75);
		transform: scale(1.05);
		transition: 0.3s ease-in-out;
	}
}
.rules-list li {
	list-style-type: circle;
	padding: 0.5rem;
}
.ion-icon-1 {
	font-size: 8vw;
	filter: drop-shadow(0 0 1.5rem #ed1b76);
	animation: animate1 10s linear infinite;
}
.ion-icon-2 {
	font-size: 8vw;
	filter: drop-shadow(0 0 1.5rem #ed1b76);
	animation: animate2 10s linear infinite;
}
.rules-head {
	font-size: 4rem;
	margin-bottom: 1rem;
	filter: drop-shadow(0 0 1.5rem #ed1b76);
}
.rules-card {
	padding: 3rem 2rem;
	background: #13081b;
	border-radius: 3rem 3rem;
	transition: 0.3s ease-in-out;
}
.rules-list {
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	line-height: 1.7rem;
	letter-spacing: 0.05em;
}
.rules-subhead {
	font-size: 2.3rem;
	margin-bottom: 2rem;
	text-shadow: 0.025em 0.025em 0 rgba(255, 255, 0, 0.493),
		0.05em 0.05em 0 rgba(0, 0, 255, 0.418),
		0.075em 0.075em 0 rgba(255, 0, 0, 0.5), 0.01em 0.01em 0 rgba(0, 0, 0, 0.493);
}
::marker {
	color: #ed1b76;
}

@keyframes animate1 {
	0% {
		transform: rotate(0deg) scale(0.9) skew(-1deg) translate(1px, 0px);
	}
	100% {
		transform: rotate(360deg) scale(0.9) skew(-1deg) translate(1px, 0px);
	}
}
@keyframes animate2 {
	0% {
		transform: rotate(360deg) scale(0.9) skew(-1deg) translate(1px, 0px);
	}
	100% {
		transform: rotate(0deg) scale(0.9) skew(-1deg) translate(1px, 0px);
	}
}
.top {
	font-size: 4rem;

	filter: drop-shadow(0 0 1.5rem #ed1b76);
}

/* Rules ends*/

/*footer*/

/*footer ends*/

/*media queries*/
/* @media (max-width: 568px) {
	.banner::before {
		background-attachment: scroll;
	}
} */
@media (max-width: 750px) {
	.banner-heading1 {
		text-align: center;
		font-size: 5.5rem;
	}
	.banner-heading2 {
		margin-top: 0rem;
		text-align: center;
		font-size: 5.5rem;
		margin-bottom: 0rem;
	}
	.timer {
		margin-top: 0rem;
		font-size: 80%;
	}
	#timer-head {
		font-size: 350%;
	}
	.rules-head {
		font-size: 3.6rem;
	}
	.rules-list {
		font-size: 1.2rem;
	}
}
@media (max-width: 568px) {
	.banner-heading1 {
		text-align: center;
		font-size: 4.5rem;
	}
	.banner-heading2 {
		margin-top: 0rem;
		text-align: center;
		font-size: 4.5rem;
	}
}
.hacker {
	color: #ed1b76;
	font-weight: bold;
}
#rules {
	margin-bottom: 10%;
}

/* LEADERBOARD START */

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: 0.5em 0 0.75em;
}

table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 0.35em;
}

table th,
table td {
	padding: 0.625em;
	text-align: center;
}

table th {
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: 0.625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: 0.8em;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		color: teal;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}

.leaderboard {
	width: 100%;
	height: 45vw;
	box-shadow: 2px 2px 16px 3px #aaa;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	margin-bottom: 500px;
}
.lb {
	width: 60%;
	height: 30vw;
	box-sizing: border-box;
}
.tbl {
	height: 100%;
	overflow-y: scroll;
	margin: 0%;
	padding: 0% !important;
	margin-bottom: 0% !important;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.titl {
	height: 20vw;
}
.lbimg {
	height: 28vw;
	width: 40%;
	float: right;
	margin-top: -8vw;
}
.card-body {
	padding: 0% !important;
	margin-bottom: 0% !important;
	height: 22vw;
}

.cardd {
	background-color: #0e3742;
	color: white;
	height: 30vw;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-radius: 1rem;
	margin-bottom: 0%;
}
tbody {
	padding: 0% !important;
	margin: 0% !important;
	color: #ed1b76;

	font-weight: bold;
	font-size: 0.9rem;
}
.card-title {
	width: 50%;
	padding-top: 8%;
	font-size: 55px;
	margin-left: 5%;
}
.namee {
	padding-left: 600px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 915px) and (min-width: 830px) {
	.card-title {
		font-size: 50px;
		padding-top: 8%;
	}
	.card-body {
		height: 30vw;
	}
	.leaderboard {
		height: 55vw;
	}
}
@media screen and (max-width: 830px) and (min-width: 666px) {
	.card-title {
		font-size: 40px;
		padding-top: 6%;
	}
	.card-body {
		height: 35vw;
	}
	.leaderboard {
		height: 60vw;
	}
}
@media screen and (max-width: 666px) and (min-width: 500px) {
	.card-title {
		font-size: 30px;
		padding-top: 8%;
	}
	.card-body {
		height: 50vw;
	}
	.leaderboard {
		height: 78vw;
	}
}
@media screen and (max-width: 500px) and (min-width: 335px) {
	.card-title {
		font-size: 20px;
		padding-top: 6%;
	}
	.card-body {
		height: 100vw;
	}
	.leaderboard {
		height: 130vw;
	}
	/* .counter {
		padding-top: 30rem !important;
	} */
}

@media screen and (max-width: 335px) {
	.card-title {
		font-size: 14px;
		padding-top: 8%;
	}
	.card-body {
		height: 100vw;
	}
	.leaderboard {
		height: 146vw;
	}
}
thead {
	font-size: 0.7rem;
	color: teal;
	text-transform: uppercase;
}
/* LEADERBOARD END */

/* Counter */

.counter {
	padding: 0;
	margin: 0;

	/* padding-top: 25rem; */
}

i {
	font-size: 4em !important;
	margin-top: 10%;
	color: teal;
}

h1 {
	padding-top: 30px;
	color: white !important;
}

h2 {
	color: teal;
}

.intro {
	height: auto;
	min-height: 100vh;
	text-align: center;
	background-color: teal;
}
.num {
	color: #ed1b76;
	margin-top: 10%;
	font-size: 3.5rem;
}
.nump {
	margin-top: 20%;
}
.green {
	color: teal;
}
.red {
	color: #ed1b76;
}
.elimination {
	filter: drop-shadow(0 0 1.5rem #ed1b76);
	font-size: 3rem;
}

/* Counter ends */

.btnn {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	margin: 10px;
	color: #fff;
	font-size: 1.4rem;
	letter-spacing: 2px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	box-sizing: border-box;
	font-family: TheShape;
}
.btn--changeGradient {
	background-image: linear-gradient(
		to right,
		#ed1b76,
		#bb3796,
		#7c499e,
		#3c4e90,
		#004872,
		#004872,
		#004872,
		#004872,
		#3c4e90,
		#7c499e,
		#bb3796,
		#ed1b76
	);
	background-size: 400%;
	font-family: TheShape;
}
.btn--changeGradient:hover {
	animation: changeGradientAnimation 8s linear infinite;
}
@keyframes changeGradientAnimation {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}
#rp {
	font-size: 4rem;
	font-weight: 700;
}

.linkkk {
	color: #ed1b76;
	font-size: 0.9rem;
}
.navv a {
	font-size: 1rem;
}

/*footer*/
footer {
	margin-top: auto;
	padding-top: 3rem;
	background-color: #0e3742;
}
.footer-icon {
	font-size: 2rem;
	margin: 2rem;
}
footer a:link {
	color: #fff;
	text-decoration: none;
}

footer a:visited {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	color: #ff287e;
	text-decoration: none;
}
footer a:active {
	color: #ff287e;
	text-decoration: none;
}
.footer-text {
	font-family: "Roboto", sans-serif;
	margin-top: 0.6rem;
	letter-spacing: 0.8px;
	word-spacing: 2px;
	padding: 0.2rem 0.5rem;
}
.footer-text a {
	font-weight: bold;
}
.footer-row {
	height: 2rem;
}
/*footer*/

@media (max-width: 780px) {
	/* margin: 10px; */
	.timer {
		font-size: 50%;
	}
	.btnn {
		font-size: 150%;
		padding: 0.8rem 0.8rem;
	}
}

@media (max-width: 368px) {
	.timer {
		font-size: 60%;
	}
	.banner-heading1 {
		font-size: 450%;
	}
	.banner-heading2 {
		font-size: 95%;
	}
}
@media (max-width: 1200px) {
	.ion-icon-1 {
		font-size: 10vw;
	}
	.ion-icon-2 {
		font-size: 10vw;
	}
}
@media (max-width: 576px) {
	.ion-icon-1 {
		font-size: 15vw;
	}
	.ion-icon-2 {
		font-size: 15vw;
	}
}

@media (max-width: 990px) {
	.icon1 {
		min-width: 100vh;
		margin-bottom: 2rem;
	}
	.icon2 {
		min-width: 100vh;
		margin-top: 2rem;
	}
	.rules-card {
		margin: 0rem 6rem;
	}
}
@media (max-width: 753px) {
	.rules-head {
		font-size: 3rem;
	}
	.top-about {
		font-size: 3rem;
	}
	.about-content {
		font-size: 1.2rem;
	}
	.rules-list {
		font-size: 1.2rem;
	}
	.rules-subhead {
		font-size: 2.2rem;
	}
}

@media (max-width: 370px) {
	.rules-head {
		font-size: 2rem;
	}
	.top-about {
		font-size: 2rem;
	}
	.about-content {
		font-size: 0.7rem;
	}
	.rules-list {
		font-size: 0.7rem;
	}
	.rules-subhead {
		font-size: 1.6rem;
	}
}
@media (max-width: 1429px) {
	.counter {
		font-size: 80%;
	}
	.participants h2 {
		font-size: 200%;
	}
	#rp {
		font-size: 2rem;
	}
}
@media (max-width: 1071px) {
	.counter {
		font-size: 75%;
	}
	.participants h2 {
		font-size: 190%;
	}
	#rp {
		font-size: 1.6rem;
	}
}
@media (max-width: 791px) {
	.counter {
		font-size: 70%;
	}
	.participants h2 {
		font-size: 170%;
	}
}
@media (max-width: 458px) {
	.elimination {
		font-size: 2.5rem;
	}
}
@media (max-width: 387px) {
	.elimination {
		font-size: 2rem;
	}
}

@media (max-width: 400px) {
	.footer-icon {
		font-size: 1.5rem;
		margin: 1rem;
	}
}
